<div>
  <div>
    <div>Name:</div>
    <div><%= @profile.name %></div>
  </div>
  <div>
    <div>Contact:</div>
    <div><%= @profile.contact %></div>
  </div>
</div>

<%#= link_to 'Edit', edit_profiles_path %>
<%= link_to 'Home', root_path %>
