<h1>Editing Expense</h1>

<%= render 'form', expense: @expense %>

<%= link_to 'Show', expense_path(@expense, group_id: @group.try(:id)) %> |
<%= link_to 'Back', back_to_expenses_or_group_path(@group) %>
